%h1 #{user.first_name}'s Current Supply

-@supplies.each do |supply|
	%li
		-crop = Crop.find(supply.crop_id).name
		-status = Status.find_by_id(supply.status_id)
		#{crop}'s current status is #{status ? status.name : 'empty'}
	%br