.container
  =simple_form_for :landing do |f|
    =f.text_field(:location, id:'location')
    =f.button :submit, "Submit", id: "submit"
  / %input{type: "text", id: "location"}
  / %button.btn.btn-primary#submit "Submit"


%p=link_to "Signup", '#', remote: true, class: "btn btn-primary signup-link"
%p=link_to "Login", '#', remote: true, class: "btn btn-primary login-link"

=render partial:"shared/signupmodal", locals: {user: @user}
=render partial:"shared/loginmodal", locals: {user: @user}
