.container
  %h3 Find Gardeners near you
  =form_for :landing, html:{role: "form"} do |f|
    .form-group=f.text_field(:location, placeholder: "Street Address", class: "form-control", id:'address')
    .form-group=f.text_field(:location, placeholder: "Zip Code", class: "form-control", id:'zip')
    =f.submit "Submit", class: "btn btn-primary", id: "submit"

.signup-link
  =link_to "Signup!", '#', class: "btn btn-primary signup-link"
  
%input{type: "hidden", id: "hidden_lat"}
%input{type: "hidden", id: "hidden_lng"}

=render partial:"shared/signupmodal", locals: {user: @user}
=render partial:"shared/loginmodal", locals: {user: @user}
