%h1 What produce do you have available?

=form_tag supplies_path, method: 'post', remote: true, html:{role: "form"}, id: 'add-supplies-form' do
  .form-group=text_field :crop_name, nil, placeholder: "Crop name", class: "form-control"
  .form-group=text_field :status, nil, placeholder: "Status", class: "form-control"
  
  .form-group=select_tag :status, options_for_select(["Growing", "Harvesting", "Done"], "Growing")
  
  =submit_tag "Add Supply", class: "btn btn-primary"

.user-supplies