.modal.fade#signup-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Create an account
      .modal-body
        =simple_form_for user do |f|
          =f.input :first_name
          =f.input :last_name
          =f.input :email
          =f.password :password
          =f.button :submit
      .modal-footer
        %button.btn.btn-primary{:type => "button"}