<h1>What produce are you looking for?</h1>

<form action="/demands" method="post" data-remote="true" id="new-demand-form">
  <div>
    <input type="text" class="form-control demand-field" name="demand_crop_name" placeholder="Crop name"/>
  </div>
  <div>
    <input type="submit" class="btn btn-success" value="Add Demand" />
  </div>
</form>

<div class="user-demands"></div>
