<h1>What produce are you looking for?</h1>

<form action="/demands" method="post" data-remote="true" id="new-demand-form">
  <div class="col-lg-2">
	 <input type="text" class="form-control"  name="demand_crop_name" placeholder="Crop name" class="demand-field" />
  </div>
	<input type="submit" class="btn btn-success" value="Add Demand" />
</form>

<div class="user-demands"></div>
