<h1>What produce are you looking for?</h1>

<form action="/demands" method="post" data-remote="true" id="new-demand-form">
	<input type="text" name="demand_crop_name" placeholder="Crop name" class="demand-field" />
	<input type="submit" value="Add Demand" />
</form>

<div class="user-demands"></div>
