<h1>What produce are you looking for?</h1>

<form action="/demands" method="post" data-remote="true" id="add-demands-form">
	<input type="text" name="crop_name" placeholder="Crop name" />
	<input type="submit" value="Add Produce" />
</form>

<div class="user-demands"></div>