<h1>What produce do you have available?</h1>

<form action="/supplies" method="post" data-remote="true" id="add-supplies-form">
	<input type="text" name="supply_crop_name" placeholder="Crop name" class="crop-field"/>
	<select name="status_name" class='drop-down'>
		<option value="growing">Growing</option>
		<option value="harvested">Harvested</option>
		<option value="done">Done</option>
	</select>
	<input type="submit" value="Add Supply" />
</form>

<div class="user-supplies"></div>
