<div class="container">
  <div class="btn-group btn-group-lg btn-group-justified">
    <a href="#" class="btn btn-primary" id="share_link">Sprouting Gardens</a>
    <a href="#" class="btn btn-default" id="request_link">Desired Produce</a>
  </div>
  {{! <ul class="nav nav-pills">
    <li class="active"><a id="share_link" href="#">Local Sharing</a></li>
    <li><a id="request_link" href="#">Local Requests</a></li>
  </ul> }}
  <div class="container">
    <div id="browser-share"></div>
    <div id="browser-request"></div>
  </div>
</div>