<div id="browser">
  <ul class="nav nav-pills">
    <li class="active"><a id="share_link" href="#">Local Sharing</a></li>
    <li><a id="request_link" href="#">Local Requests</a></li>
  </ul>
  <div id="browser-body"></div>
<div>
