<div class='growing'>
<h3>Growing</h3>
{{#each growing}}
<li>{{this.name}}</li>
{{/each}}
</div>

<div class='harvested'>
<h3>Harvested</h3>
{{#each harvested}}
<li>{{this.name}}</li>
{{/each}}	
</div>