<div class='growing'>
<h3>Growing</h3>
{{#each growing}}
<li>{{this}}</li>
{{/each}}
</div>

<div class='harvested'>
<h3>Harvested</h3>
{{#each harvested}}
<li>{{this}}</li>
{{/each}}	
</div>

<div class='done'>
<h3>Done</h3>
{{#each done}}
<li>{{this}}</li>
{{/each}}	
</div>