<form id="contact-gardener-form" class="avgrund-popup" action="/connect" method="post" data-remote="true">
  <h1>Connect with this Gardener</h1>
  <input type="text-area" class="title" name="email_title" placeholder="Title"/>
  <input type="text-area" class="message" name="email_body" placeholder="Content"/>
  <input type="submit" class="connect" value="Connect" />
</form>
