<aside id="email-form" class="avgrund-popup">
  <form action="/connect" method="post" data-remote="true">
    <h1>Connect with this Gardener</h1>
    <input type="text-area" id="email_title" name="email_title" placeholder="Title"/>
    <input type="text-area" id="message" name="email_body" placeholder="Content"/>
    <input type="submit" id="connect" value="Connect" />
  </form>
</aside>
