<div class="container" id="landing">
  <div class="row" id="landing-image">
    <div class="col-md-6">
      <img src="/assets/leaf.jpg" class="img-responsive">
    </div>
    <div class="col-md-4" id="hook">
      <h1>
        <strong>Sproutify</strong> connects you to locally grown food.
      </h1>
      <h3>
        Enter your location to find local food activity near you!
      </h3>
      <form accept-charset="UTF-8" action="/" method="post" role="form">
        <div class="form-group">
          <input class="form-control" id="address" name="landing[location]" placeholder="Address, City, or Zip" size="30" type="text">
        </div>
        {{! <div class="form-group">
          <input class="form-control" id="zip" name="landing[location]" placeholder="Zip Code" size="30" type="text">
        </div> }}
        <button class="btn btn-primary" id="submit" name="commit" type="submit">Check</button>
      </form>
      <div class="user_count">
      </div>
      <div class="available">
      </div>
      <div class="demanded">
      </div>
      <div id="hook">
      </div>

      <input id="hidden_lat" type="hidden">
      <input id="hidden_lng" type="hidden">
    </div>
  </div>

</div>
