<div id="main-container">
  <div id="map-canvas">
  </div>
  <div id="browser">
  </div>
</div>
<aside id="demand-manager" class="avgrund-popup">
  <div id="add-demand-form">
  </div>
  <div id="my-demands">
  </div>
</aside>
<div id="add-supply">
</div>
<div id="connect-with-user">
</div>
<div id="browser">
</div>
