<div id="main-container">
  <div id="map-canvas">
  </div>
  <div id="browser">
  </div>
</div>
<aside id="demand-manager" class="avgrund-popup">
  <div id="add-demand-form">
  </div>
  <ul id="my-demands">
  </ul>
</aside>
<aside id="supply-manager" class="avgrund-popup">
  <div id="add-supply-form">
  </div>
  <div>
    <h3>Growing</h3>
    <ul id="my-growing-supplies">
    </ul>
  </div>
  <div>
    <h3>Harvested</h3>
    <ul id="my-harvested-supplies">
    </ul>
  </div>
</aside>
<div id="connect-with-user">
</div>
<div id="browser">
</div>
