<div id="message-{{message_id}}" class="avgrund-popup">
  <h1>{{subject}}</h1>
  <p>{{body}}</p>
  <p>-{{sender_name}}</p>
  <div class="message_container">
    <form id="contact-gardener-form-reply" action="/connect" method="post" data-remote="true">
      <div>
        <input type="text" class="title" name="email_title" placeholder="Title"/>
      </div>
      <div>
        <textarea class="message" rows="10" cols="40" name="email_body" placeholder="Content"></textarea>
      </div>
      <div>
        <button type="submit" class="connect">Connect</button>
      </div>
    </form>
  </div>
</div>
