{{> _nav}}
<div id="main-body">
</div>
<div class="modal fade" id="demo-info">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">About</h4>
      </div>
      <div class="modal-body">
        <p>
        The web application you are about to see was created in 7 days as a project at
        <a href="www.devbootcamp.com">Dev Bootcamp</a> by the following developers:
        </p>
        <ul>
          <li>
          <a href="www.michaelho.me">Michael Ho</a>
          </li>
          <li>
          Adam Loo
          </li>
          <li>
          Cole Pilegard
          </li>
          <li>
          Greg Varias
          </li>
        </ul>
        <p>
        This project was the culmination of our education at Dev Bootcamp, allowing us to use
        what we had learned about full-stack web development and project management over the
        course of 9 weeks. With the exception of some bug fixes and polishing, this is the
        version of Sproutify that we demoed on August 22, 2013. We are very proud of what we
        were able to accomplish and hope you
        enjoy looking around.
        </p>
        <p>
        Even though we have finished our time at Dev Bootcamp, work to grow and improve Sproutify
        is continuing, mainly headed by the efforts of Cole Pilegard.
        </p>
        <p>
        <strong>-Team Sproutify</strong>
        </p>
      </div>
    </div>
  </div>
</div>
