{{> _nav}}
<div id="main-body">
</div>
<div class="modal fade" id="demo-info">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">About</h3>
      </div>
      <div class="modal-body">
        <p>
        The web application you are about to see was created in 7 days at
        <a href="www.devbootcamp.com">Dev Bootcamp</a> by the following developers:
        </p>
        <ul class="media-list">
          <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object avatar" src="/assets/michael.jpg" alt="Michael Ho">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Michael Ho</h4>
            <a href="www.michaelho.me">Personal Website</a>,
            <a href="www.github.com/michaelchihuyho">Github</a>,
            <a href="www.linkedin.com/in/michaelchihuyho">LinkedIn</a>
          </div>
          </li>
          <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object avatar" src="/assets/adam.jpg" alt="Adam Loo">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Adam Loo</h4>
          </div>
          </li>
          <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object avatar" src="/assets/cole.jpg" alt="Cole Pilegard">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Cole Pilegard</h4>
          </div>
          </li>
          <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object avatar" src="/assets/greg.jpg" alt="Greg Varias">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Greg Varias</h4>
          </div>
          </li>
        </ul>
        <p>
        This project was the culmination of our education at Dev Bootcamp, allowing us to use
        what we had learned about full-stack web development and project management over the
        course of 9 weeks. With the exception of some bug fixes and polishing, this is the
        version of Sproutify that we presented on August 22, 2013. Even though the application
        is live, there aren't many users so we've seeded some in San Francisco in order to let you
        explore Sproutify's functionality.
        </p>
        <p>
        Work to grow and improve Sproutify continues, mainly headed by the efforts of Cole Pilegard.
        </p>
        <p>
        <strong>-Team Sproutify</strong>
        </p>
      </div>
    </div>
  </div>
</div>
