/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require_self
 *= require_tree .
 */

// COLORS
$btn-primary-bg: #378706; 
$list-group-active-bg: #378706;
$btn-hover-color: #7bbe53;
$list-group-hover-bg: #7bbe53;

// LIST GROUP
$list-group-border-radius: 0px;

// NAVBAR BOOTSTRAP VARS 
$navbar-height: 75px;
$navbar-border-radius: 0px;
$navbar-margin-bottom: 0px;
$navbar-default-bg: #FFF;

@import "bootstrap";
