html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
}

.navbar{
  border: none;

  .navbar-brand{
    padding: 0;
    img{
      padding-left: 1em;
      height: 75px;
    }
  }
}

#main-body{
  padding-top: 75px;
  height: 100%;

}