html {
  width: 100%;
  height: 100%;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
  padding: 0px;
}

.navbar{
  border: none;
  box-shadow: 0px 5px 25px -11px #000000;

  .navbar-brand{
    padding: 0;
    img{
      padding-left: 1em;
      height: 75px;
    }
  }

  a{
    color: #444;
    font-size: 1.2em;
  }
}

#main-body{
  padding-top: 75px;
  width: 100%;
  height: 100%;
  min-height: 490px;
  min-width: 1000px;
}

#main-container{
  width: 100%;
  height: 100%;
}

// #supply-manager-link {
//   color: green;
// }

// #demand-manager-link {
//   color: green;
// }
