#signup-modal, #login-modal{
  .modal-dialog{
    width: 300px;
  }
  .modal-content{
    width: 300px;

    .modal-header{
      border-bottom: none;
      padding-bottom: 0px;
    }
    .modal-footer{
      border-top: none;
      margin-top: 0px;
      padding-top: 0px;
    }
  }
}

.signup-link {
  font-size: 600%;
  padding: 7.5px 12px 7.5px 12px;
  border-radius: 20px;
  text-align: center;
}

#hook{
  strong{
    font-size: 2em;
  }
  margin-top: 200px;
}


#content {
  height:100%;
}

#main-body {
  height: 100%;
}

#main-container {
  height: 100%;
}





