!!!
%html
  %head
    %title Sproutify
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    / FOR CITY LOOKUP ON LANDING PAGE
    %script{:language => "JavaScript", :src => "http://www.geoplugin.net/javascript.gp", :type => "text/javascript"}
    %script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"}
    / %script{:src => "http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js", :type=>"text/javascript"}
  %body
   
    = yield